// базовые подключения
@use "vars";
@use "fonts";
@use "settings";

// подключения компонентов страницы

body.active{
  overflow: hidden;
}

.title{
  font-family: var(--third-family);
  font-weight: var(--fw-900);
  font-size: clamp(32px, 8vw, var(--fz-great));
  line-height: 70px;
  color: #415167;
}

.content-title{
  margin: 0;
  margin-bottom: 0.5rem;
  font-family: var(--font-family);
  font-weight: var(--fw-600);
  font-size: var(--fz-small);
  line-height: 120%;
  text-align: left;
  color: var(--primary-color);
}

.content-subtitle{
  margin: 0;
  margin-bottom: 4.5rem;
  font-family: var(--third-family);
  font-weight: var(--fw-900);
  font-size: var(--fz-big);
  line-height: 113%;
  color: var(--primary-color);
  text-align: left;
  text-wrap: balance;
}

.container{
  margin: 1.50rem 0 5.3rem 0;
}

.title-4{
  margin: 0;
  font-family: var(--font-family);
  font-weight: var(--fw-700);
  font-size: var(--fz-medium);
  line-height: 117%;
  color: #232c38;
}

.description{
  margin: 0;
  font-family: var(--font-family);
  font-weight: var(--fw-300);
  font-size: var(--fz-default);
  color: var(--dark-gray);
}

.animated{
  animation: 3s cubic-bezier(.68,-.55,.265,1.55) forwards slideUp;
  display: inline-block;
  transform: translateX(-900%);
  &:nth-child(1){
    animation-delay: .5s;
  }
  &:nth-child(2){
    animation-delay: 2s;
  }
  &:nth-child(3){
    animation-delay: 1.5s;
  }
}

@keyframes slideUp {
  0%{
    opacity: 0;
    transform: translateX(-900%);
  }
  50%{
    opacity: .5;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}