:root {
  --font-family: "Nunito", sans-serif;
  --second-family: "OpenSans", sans-serif;
  --third-family: "Montserrat", sans-serif;
  --content-width: 1420px;
  --container-offset: 10px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --light-color: #fff;
  --primary-color: #415167;
  --accent-color: #C7A17A;
  --accent-color2: #F9F5E8;
  --dark-gray: #151D28;
  --light-gray: #EDF0F5;
  --fz-default: 16px;
  --fz-tiny: 14px;
  --fz-small: 20px;
  --fz-medium: 24px;
  --fz-big: 30px;
  --fz-great: 54px;
  --fw-300: 300;
  --fw-600: 600;
  --fw-700: 700;
  --fw-900: 900;
}

@font-face {
  font-family: "Montserrat";
  src: url("@/assets/fonts/Montserrat-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("@/assets/fonts/MontserratMedium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  src: url("@/assets/fonts/Nunito-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  src: url("@/assets/fonts/Nunito-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  src: url("@/assets/fonts/Nunito-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  src: url("@/assets/fonts/Nunito-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "OpenSans";
  src: url("@/assets/fonts/OpenSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "OpenSans";
  src: url("@/assets/fonts/OpenSans-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "OpenSans";
  src: url("@/assets/fonts/OpenSans-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "OpenSans";
  src: url("@/assets/fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "OpenSans";
  src: url("@/assets/fonts/OpenSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

.page__body {
  margin: 0;
  min-width: 360px;
  min-height: 100%;
  font-size: 16px;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

body {
  background: #F9FBFF;
  margin: 0;
}

body.active {
  overflow: hidden;
}

.title {
  font-family: var(--third-family);
  font-weight: var(--fw-900);
  font-size: clamp(32px, 8vw, var(--fz-great));
  line-height: 70px;
  color: #415167;
}

.content-title {
  margin: 0;
  margin-bottom: 0.5rem;
  font-family: var(--font-family);
  font-weight: var(--fw-600);
  font-size: var(--fz-small);
  line-height: 120%;
  text-align: left;
  color: var(--primary-color);
}
@media (min-width: 37.5rem) {
  .content-title {
    text-align: center;
  }
}

.content-subtitle {
  margin: 0;
  margin-bottom: 3.3rem;
  font-family: var(--third-family);
  font-weight: var(--fw-900);
  font-size: var(--fz-big);
  line-height: 113%;
  color: var(--primary-color);
  text-align: left;
  text-wrap: balance;
}
@media (min-width: 37.5rem) {
  .content-subtitle {
    text-align: center;
  }
}

.section {
  transition: transform 1s, opacity 1s;
}

.container-hidden {
  opacity: 0;
  transform: translateY(8rem);
}

.title-4 {
  margin: 0;
  font-family: var(--font-family);
  font-weight: var(--fw-700);
  font-size: var(--fz-medium);
  line-height: 117%;
  color: #232c38;
}

.description {
  margin: 0;
  font-family: var(--font-family);
  font-weight: var(--fw-300);
  font-size: var(--fz-default);
  color: var(--dark-gray);
}

.cost {
  font-family: var(--font-family);
  font-weight: var(--fw-600);
  font-size: var(--fz-small);
  line-height: 120%;
  color: var(--accent-color);
}

.button {
  padding: 8px 15px;
  font-family: var(--font-family);
  font-weight: var(--fw-700);
  font-size: var(--fz-default);
  text-align: center;
  color: #f9fbff;
  border-radius: 19px;
  background: var(--accent-color);
  transition: 0.3s;
}
@media (hover: hover) {
  .button:hover {
    background: var(--light-gray);
    color: var(--primary-color);
  }
}
.button:active {
  background: #cacaca;
  color: var(--primary-color);
}

.button-2 {
  font-family: var(--font-family);
  font-weight: var(--fw-700);
  font-size: var(--fz-default);
  color: var(--primary-color);
}

.animated {
  animation: 3s cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards slideUp;
  display: inline-block;
  transform: translateX(-900%);
}
.animated:nth-child(1) {
  animation-delay: 0.5s;
}
.animated:nth-child(2) {
  animation-delay: 2s;
}
.animated:nth-child(3) {
  animation-delay: 1.5s;
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateX(-900%);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/*# sourceMappingURL=main.css.map */
